<div class="Alfashop">
    <p>Alfashop</p>
</div>

<div class="tabla_container">
    <table class="tabla">
        <tr>
            <td class="imagen">
                <img src="../Imagenes/usuario.png">
            </td>
        </tr>
        <tr>
            <td class="formulario_ingresar">
                <h2>Ingresar cuenta</h2>
                <input type="text" id="email" placeholder="Correo electrónico">
                <input type="password" id="password" placeholder="Contraseña">
                <button id="loginButton" (click)="iniciarSesion()">Ingresar</button>
            </td>
        </tr>
    </table>
</div>

