<div class="Alfashop">
    <p>Alfashop</p>
</div>

<div class="Bienvenido">
    <p>¡Bienvenido(a)!</p>
</div>


<table class="tabla">
    <tr>
        <td class="formulario_inicio">
            <h2>Lista de opciones</h2>
            <img src="../Imagenes/usuario.png">
            <a routerLink="/registrar-comprador">
                <button id="btnRegistrarse">Regístrarse</button>
            </a>

            <a routerLink="/iniciar-sesion">
                <button id="btnIngresar">Ingresar</button>
            </a>
        </td>
    </tr>
</table>
